/* 重置样式 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "punctuation", "PingFangSc-Regular", "Microsoft YaHei", "微软雅黑";
}

li {
    list-style: none;
}

i {
    font-style: normal;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.clear {
    zoom: 1;
}

.clear:after {
    content: '';
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}


/* 布局样式 */


/* background部分 */

#background {
    position: fixed;
    left: 0;
    top: 0;
    background: url("../images/ic.jpg") no-repeat;
    background-size: 100% 100%;
    z-index: 0;
}


/* header部分 */

#outline {
    height: auto;
    background: #fff;
    position: relative;
    z-index: 10;
    margin: 50px auto 10px auto;
    width: 85%;
}

#header {
    position: relative;
    height: 45px;
    line-height: 45px;
    z-index: 10;
    width: 100%;
    background: #343434;
    color: #fff;
}

.head_content {
    width: 100%;
    height: 45px;
}

.headUl {}

.headUl li {
    float: left;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    padding: 0 30px;
    position: relative;
}

.headUl li a {
    color: #fff;
}

.headUl .active a {
    color: blueviolet;
}

.headUl li:hover a {
    color: blueviolet;
}

.headUl li i {
    display: inline-block;
    width: 1px;
    background: #999;
    height: 18px;
    position: absolute;
    top: 14px;
    right: 0;
}

.head_content label {
    font-size: 14px;
}

.head_content select {
    background: #f9f9f9;
    margin-right: 20px;
    height: 25px;
    padding: 0 10px;
}

.lef_menu {
    background: url("../images/homeP_img/menu2.png") no-repeat;
    background-size: 24px 24px;
    padding: 0 24px;
    line-height: 26px;
    height: 24px;
    position: relative;
    top: 12px;
    left: 20px;
    color: #ccc;
    display: none;
    cursor: pointer;
}


/*定义动画  */

@keyframes theUl {
    0% {
        transform: rotateY(0) rotateX(-45deg) rotateZ(45deg);
    }
    20% {
        transform: rotateY(720deg) rotateX(720deg) rotateZ(450deg);
    }
    30% {
        transform: rotateY(0) rotateX(180deg) rotateZ(890deg);
    }
    40% {
        transform: rotateY(720deg) rotateX(360deg) rotateZ(45deg);
    }
    50% {
        transform: rotateY(0) rotateX(482deg) rotateZ(180deg);
    }
    60% {
        transform: rotateY(720deg) rotateX(380deg) rotateZ(290deg);
    }
    70% {
        transform: rotateY(0) rotateX(408deg) rotateZ(360deg);
    }
    80% {
        transform: rotateY(720deg) rotateX(360deg) rotateZ(250deg);
    }
    90% {
        transform: rotateY(0) rotateX(270deg) rotateZ(140deg);
    }
    100% {
        transform: rotateY(720deg) rotateX(90deg) rotateZ(45deg);
    }
}

@-moz-keyframes theUl {
    0% {
        transform: rotateY(0) rotateX(-45deg) rotateZ(45deg);
    }
    20% {
        transform: rotateY(720deg) rotateX(720deg) rotateZ(450deg);
    }
    30% {
        transform: rotateY(0) rotateX(180deg) rotateZ(890deg);
    }
    40% {
        transform: rotateY(720deg) rotateX(360deg) rotateZ(45deg);
    }
    50% {
        transform: rotateY(0) rotateX(482deg) rotateZ(180deg);
    }
    60% {
        transform: rotateY(720deg) rotateX(380deg) rotateZ(290deg);
    }
    70% {
        transform: rotateY(0) rotateX(408deg) rotateZ(360deg);
    }
    80% {
        transform: rotateY(720deg) rotateX(360deg) rotateZ(250deg);
    }
    90% {
        transform: rotateY(0) rotateX(270deg) rotateZ(140deg);
    }
    100% {
        transform: rotateY(720deg) rotateX(90deg) rotateZ(45deg);
    }
}

@-webkit-keyframes theUl {
    0% {
        transform: rotateY(0) rotateX(-45deg) rotateZ(45deg);
    }
    20% {
        transform: rotateY(720deg) rotateX(720deg) rotateZ(450deg);
    }
    30% {
        transform: rotateY(0) rotateX(180deg) rotateZ(890deg);
    }
    40% {
        transform: rotateY(720deg) rotateX(360deg) rotateZ(45deg);
    }
    50% {
        transform: rotateY(0) rotateX(482deg) rotateZ(180deg);
    }
    60% {
        transform: rotateY(720deg) rotateX(380deg) rotateZ(290deg);
    }
    70% {
        transform: rotateY(0) rotateX(408deg) rotateZ(360deg);
    }
    80% {
        transform: rotateY(720deg) rotateX(360deg) rotateZ(250deg);
    }
    90% {
        transform: rotateY(0) rotateX(270deg) rotateZ(140deg);
    }
    100% {
        transform: rotateY(720deg) rotateX(90deg) rotateZ(45deg);
    }
}

@-o-keyframes theUl {
    0% {
        transform: rotateY(0) rotateX(-45deg) rotateZ(45deg);
    }
    20% {
        transform: rotateY(720deg) rotateX(720deg) rotateZ(450deg);
    }
    30% {
        transform: rotateY(0) rotateX(180deg) rotateZ(890deg);
    }
    40% {
        transform: rotateY(720deg) rotateX(360deg) rotateZ(45deg);
    }
    50% {
        transform: rotateY(0) rotateX(482deg) rotateZ(180deg);
    }
    60% {
        transform: rotateY(720deg) rotateX(380deg) rotateZ(290deg);
    }
    70% {
        transform: rotateY(0) rotateX(408deg) rotateZ(360deg);
    }
    80% {
        transform: rotateY(720deg) rotateX(360deg) rotateZ(250deg);
    }
    90% {
        transform: rotateY(0) rotateX(270deg) rotateZ(140deg);
    }
    100% {
        transform: rotateY(720deg) rotateX(90deg) rotateZ(45deg);
    }
}


/* pages部分 */

.banTo {
    width: 100%;
    height: 30px;
    position: absolute;
    top: 50%;
    z-index: 1000;
}

.banTo span:hover {
    opacity: 1;
}

.toF {
    background: url("../images/homeP_img/banToL.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 20px;
    cursor: pointer;
    opacity: 0.2;
}

.toR {
    background: url("../images/homeP_img/banToR.png") no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    opacity: 0.2;
}

.pages {
    z-index: 100;
    width: 100%;
    position: relative;
    background: #343434;
}

.pages div {
    width: 80%;
    height: 90%;
    left: 10%;
    top: 5%;
    position: absolute;
    opacity: 0.8;
    border-radius: 5px;
    display: none;
}


/* 旋转 */

#out {
    perspective: 1000px;
    display: block;
}

#out ul {
    transform-style: preserve-3d;
    width: 150px;
    height: 150px;
    position: absolute;
    transform: rotateY(0) rotateX(-45deg) rotateZ(45deg);
    animation: theUl 50s infinite linear;
    -moz-animation: theUl 50s infinite linear;
    -webkit-animation: theUl 50s infinite linear;
    -o-animation: theUl 50s infinite linear;
}

#out ul li {
    list-style: none;
    position: absolute;
    height: 150px;
    width: 150px;
    box-shadow: none;
}


/* 绕X旋转90度，并沿Y平移-100px成为顶部 */

#out ul li:nth-of-type(1) {
    background: #C4DA70;
    transform: translateY(-100px) rotateX(90deg);
}


/* 绕X旋转-90度，并沿Y平移100px成为底部 */

#out ul li:nth-of-type(2) {
    background: #54d;
    transform: translateY(100px) rotateX(-90deg);
}


/* 绕Y旋转-90度，并沿X平移100px成为右部 */

#out ul li:nth-of-type(3) {
    background: #589;
    transform: translateX(100px) rotateY(90deg);
}


/* 绕Y旋转-90度，并沿X平移-100px成为左部 */

#out ul li:nth-of-type(4) {
    background: #47d;
    transform: translateX(-100px) rotateY(-90deg);
}


/* 沿Z平移100px成为正面 */

#out ul li:nth-of-type(5) {
    background: #af8;
    transform: translateZ(100px);
}


/* 沿Z平移-100px成为正面 */

#out ul li:nth-of-type(6) {
    background: #79c;
    transform: translateZ(-100px);
}

#out .tex {
    display: none;
}


/* me */

.pages .me {
    background: #C4DA70;
    box-shadow: -10px -10px 5px #888888;
    /* display: block; */
}

.me_con {}


/* edu */

.pages .edu {
    background: #54d;
    box-shadow: -10px -10px 5px #888888;
}


/* skill */

.pages .skill {
    background: #589;
    box-shadow: -10px -10px 5px #888888;
}


/* exper */

.pages .exper {
    background: #47d;
    box-shadow: -10px -10px 5px #888888;
}


/* dev */

.pages .dev {
    background: #af8;
    box-shadow: -10px -10px 5px #888888;
}


/* now */

.pages .now {
    background: #79c;
    box-shadow: -10px -10px 5px #888888;
}


/* 媒体查询适合pad屏 */

@media(max-width:1050px) {
    /* header部分 */
}


/* 媒体查询适合手机屏 */

@media(max-width:750px) {
    /* header部分 */
    #outline {
        width: 95%;
        margin: 30px auto;
    }
    .headUl {
        display: none;
        width: 100%;
        position: absolute;
        left: 0;
        top: 45px;
        background: #343434;
    }
    .headUl li {
        width: 100%;
    }
    .headUl li i {
        display: none;
    }
    .lef_menu {
        display: block;
    }
    /* pages部分 */
    .banTo {
        display: none;
    }
    #out .tex {
        position: absolute;
        bottom: 5px;
        font-size: 12px;
        text-align: center;
        color: #fff;
        display: block;
    }
}